<style>
.job-img {
	overflow: hidden;
	position: relative;
	min-height: 180px;
	background: url(/assets/img/indeximg.jpg) 0% 50% no-repeat;
	
}

.job-img .job-banner h2 {
	font-size: 20px;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
}

.job-img .job-banner {
	padding: 20px;
	max-width: 450px;
	margin: 60px auto 100px;
	background: rgba(255, 255, 255, 0.8);
}
</style>

<div class="job-img margin-bottom-30">
	<div class="job-banner">
		<h2>We bring European patients to Romanian Dentists and to Other Eastern countries</h2>
	</div>
</div>