<style>
.job-img {
	overflow: hidden;
	position: relative;
	min-height: 180px;
	background: url(/assets/img/indeximg.jpg) 0% 50% no-repeat;
	background-color: #ededed;
}

.job-img .job-banner h2 {
	font-size: 20px;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
}

.job-img .job-banner {
	padding: 20px;
	max-width: 450px;
	margin: 60px auto 100px;
	background: rgba(255, 255, 255, 0.8);
}

.search-block h2 {
	text-align: left;
}

.search-box {
	margin-bottom: 30px;
}

.what-we-promisse li {
	margin-top: 10px;
}
</style>

<div class="job-img margin-bottom-30">
	<div class="job-banner">
		<h2><%= lang.index.slogan %></h2>
	</div>
</div>
<div class="container content">
	<div class="row">
		<div class="col-md-5">
			<div class="search-box">
				<h2>Alege operatie Stomatologica</h2>
				<div class="input-group">
					<input type="text" class="form-control"
						placeholder="Alege o operatie"> <span
						class="input-group-btn">
						<button class="btn-u" type="button">
							<i class="fa fa-book"></i>
						</button>
					</span>
				</div>
			</div>
			<div class="search-box">
				<h2>Alege un oras</h2>
				<div class="input-group">
					<input type="text" class="form-control"
						placeholder="Alege un oras"> <span
						class="input-group-btn">
						<button class="btn-u" type="button">
							<i class="fa fa-globe"></i>
						</button>
					</span>
				</div>
			</div>
			<div class="search-box pull-right">
				<button class="btn-u" type="button">
					Cauta <i class="fa fa-search"></i>
				</button>
			</div>
		</div>
		<div class="col-md-6 pull-right">
			<ul class="list-unstyled what-we-promisse" style="font-size: 26px;">
				<li><i class="fa fa-check color-green"></i> Cei mai buni
					dentisti din romania</li>
				<li><i class="fa fa-check color-green"></i> Cele mai mici
					preturi</li>
				<li><i class="fa fa-check color-green"></i> Servicii la
					standarde Europene</li>
				<li><i class="fa fa-check color-green"></i> Programare
					imediata, fara lista de asteptare</li>
					<li><i class="fa fa-check color-green"></i> Nici o durere!</li>
			</ul>

		</div>
	</div>

	<div class="container row">
		<hr />
		
		<div class="owl-carousel-v2 owl-carousel-style-v1 margin-bottom-50">
			<h2 class="">Vizioneaza fotografii si clipuri video din sesiuniile anterioare de publicitate!</h2>
			
			<br>

			<div class="owl-slider-v2 owl-carousel owl-theme"
				style="opacity: 1; display: block;">
				<div class="owl-wrapper-outer">
					<div class="owl-wrapper"
						style="width: 3060px; left: 0px; display: block; -webkit-transform: translate3d(-510px, 0px, 0px); -webkit-transition: all 1000ms ease; transition: all 1000ms ease;">
						<div class="owl-item" style="width: 170px;">
							<div class="item">
								<img class="img-responsive"
									src="assets/img/clients2/baderbrau.png" alt="">
							</div>
						</div>
						<div class="owl-item" style="width: 170px;">
							<div class="item">
								<img class="img-responsive" src="assets/img/clients2/fddw.png"
									alt="">
							</div>
						</div>
						<div class="owl-item" style="width: 170px;">
							<div class="item">
								<img class="img-responsive"
									src="assets/img/clients2/inspiring.png" alt="">
							</div>
						</div>
						<div class="owl-item" style="width: 170px;">
							<div class="item">
								<img class="img-responsive"
									src="assets/img/clients2/ea-canada.png" alt="">
							</div>
						</div>
						<div class="owl-item" style="width: 170px;">
							<div class="item">
								<img class="img-responsive"
									src="assets/img/clients2/marianos.png" alt="">
							</div>
						</div>
						<div class="owl-item" style="width: 170px;">
							<div class="item">
								<img class="img-responsive"
									src="assets/img/clients2/bellfield.png" alt="">
							</div>
						</div>
						<div class="owl-item" style="width: 170px;">
							<div class="item">
								<img class="img-responsive"
									src="assets/img/clients2/national-geographic.png" alt="">
							</div>
						</div>
						<div class="owl-item" style="width: 170px;">
							<div class="item">
								<img class="img-responsive"
									src="assets/img/clients2/emirates.png" alt="">
							</div>
						</div>
						<div class="owl-item" style="width: 170px;">
							<div class="item">
								<img class="img-responsive"
									src="assets/img/clients2/co-wheels.png" alt="">
							</div>
						</div>
						<div class="owl-item" style="width: 170px;">
							<div class="item">
								<img class="img-responsive"
									src="assets/img/clients2/co-wheels.png" alt="">
							</div>
						</div>
						<div class="owl-item" style="width: 170px;">
							<div class="item">
								<img class="img-responsive"
									src="assets/img/clients2/co-wheels.png" alt="">
							</div>
						</div>
						<div class="owl-item" style="width: 170px;">
							<div class="item">
								<img class="img-responsive"
									src="assets/img/clients2/co-wheels.png" alt="">
							</div>
						</div>
							<div class="owl-item" style="width: 170px;">
							<div class="item">
								<img class="img-responsive"
									src="assets/img/clients2/co-wheels.png" alt="">
							</div>
						</div>					
							<div class="owl-item" style="width: 170px;">
							<div class="item">
								<img class="img-responsive"
									src="assets/img/clients2/co-wheels.png" alt="">
							</div>
						</div>					
						
						<div class="owl-controls clickable">
							<div class="owl-pagination">
								<div class="owl-page active">
									<span class=""></span>
								</div>
								<div class="owl-page">
									<span class=""></span>
								</div>
							</div>
						</div>
					</div>

					<div class="owl-navigation">
						<div class="customNavigation">
							<a class="owl-btn prev-v2"><i class="fa fa-angle-left"></i></a> <a
								class="owl-btn next-v2"><i class="fa fa-angle-right"></i></a>
						</div>
					</div>
					<!--/navigation-->
				</div>
			</div>

			<div class="container row">
				<div class="tag-box tag-box-v3">
					<h2>De ce ar trebuii pacientii sa aleaga dentEAST</h2>
					<ul>
						<li>Selecție execepțională – 1.421 de medici stomatologi din toată România (aici sa putem modifica oricand numarul)</li>		
						<li>Prețuri mici, economii uriașe – Cele mai mici prețuri din fiecare oraș</li>
						<li>Programare imediată, fără listă de așteptare – Tratament rapid</li>
						<li>Recenzii reale – Peste 2500 de comentarii pertinente de la foști pacienți (aici să putem modifica oricand numarul)</li>
						<li>Mii de poze cu medicii stomaologi și cabinetele lor – Galerii foto</li>
						<li>Sute de clipuri video cu dentiști, tratamente, clinici – Toate detaliile</li>
						<li>Ai nevoie de servicii stomatologice ieftine și de calitate – Click aici (link catre Pacienti 1.1.)</li>
					</ul>
					<hr />
					<h2>DE CE AR TREBUI DENTIȘTII SĂ ALEAGĂ dentEAST?</h2>
					<ul>
						<li>Avem un număr mare de pacienți – Peste 15.000 în baza noastră</li>
                        <li>Număr ridicat de companii – Peste 1.500 de firme locale și străine. Detalii</li>
                        <li>Publicitate reală – Reclamă online, stradală, târguri. Detalii </li>
                        <li>Abonamente atractive – Prețuri extrem de mici, reclamă multiplă. Detalii</li>
                        <li>Listă de proceduri – Sunt postate toate serviciile pe care le oferiți</li>
                        <li>Conturi detaliate – Ușor de completat, informații complete. Detalii</li>
                        <li>Contact nelimitat – Oferim consultanță extinsă – Disponibilitate 24/7</li>
                        <li>Ești medic stomatolog – Click AICI</li>
					</ul>	
				</div>
			</div>

			<div class="row margin-bottom-40">
				<div class="col-md-4 col-sm-6">
					<div class="servive-block servive-block-sea service-or">
						<div class="service-bg"></div>
						<i
							class="icon-custom icon-color-light rounded-x fa fa-lightbulb-o"></i>
						<h2 class="heading-md">Why patients should choose denteast</h2>
						<p>
							We have more than <b>2315</b> dentists registered on our website
							and we've bring more than <b>10 000</b> european patients to
							europeans dentists
						</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="servive-block servive-block-red service-or">
						<div class="service-bg"></div>
						<i
							class="icon-custom icon-color-light rounded-x icon-line icon-fire"></i>
						<h2 class="heading-md">Why dentists should choose denteast</h2>
						<p>
							We bring more than <b>10 000</b> patients to dentists from the
							eastern europe. This is the best way for a new profitable
							bussines approach
						</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="servive-block servive-block-blue service-or">
						<div class="service-bg"></div>
						<i
							class="icon-custom icon-color-light rounded-x icon-line icon-rocket"></i>
						<h2 class="heading-md">About denteast application system</h2>
						<p>Some nice content should be here to describe the entire
							system of the application. This will need to be completed in the
							future to keep this box.</p>
					</div>
				</div>
			</div>


			<div class="headline margin-bottom-35">
				<h2>We suggests you next clinics</h2>
			</div>
			<div class="row high-rated margin-bottom-20">
				<!-- Easy Block -->
				<div class="col-md-3 col-sm-6 md-margin-bottom-40">
					<div class="easy-block-v1">
						<div class="easy-block-v1-badge rgba-default">Marketing</div>
						<div id="carousel-example-generic" class="carousel slide"
							data-ride="carousel">
							<ol class="carousel-indicators">
								<li class="rounded-x" data-target="#carousel-example-generic"
									data-slide-to="0"></li>
								<li class="rounded-x" data-target="#carousel-example-generic"
									data-slide-to="1"></li>
								<li class="rounded-x active"
									data-target="#carousel-example-generic" data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner">
								<div class="item active">
									<img alt="" src="/assets/img/clinic_1.jpg" height="50">
								</div>
							</div>
						</div>
						<div class="overflow-h">
							<h3>Savoy Hotel London</h3>
							<div class="star-vote pull-right">
								<ul class="list-inline">
									<li><i class="color-green fa fa-star"></i></li>
									<li><i class="color-green fa fa-star"></i></li>
									<li><i class="color-green fa fa-star"></i></li>
									<li><i class="color-green fa fa-star-half-o"></i></li>
									<li><i class="color-green fa fa-star-o"></i></li>
								</ul>
							</div>
						</div>
						<ul class="list-unstyled">
							<li><span class="color-green">Position:</span> Manager /
								Executive</li>
							<li><span class="color-green">Required:</span> 5 - years of
								experience</li>
						</ul>
						<a class="btn-u btn-u-sm" href="#">View More</a>
					</div>
				</div>
				<!-- End Easy Block -->

				<!-- Easy Block -->
				<div class="col-md-3 col-sm-6 md-margin-bottom-40">
					<div class="easy-block-v1">
						<div class="easy-block-v1-badge rgba-red">Marketing</div>
						<div id="carousel-example-generic-2" class="carousel slide"
							data-ride="carousel">

							<div class="carousel-inner">
								<div class="item active">
									<img alt="" src="/assets/img/clinic_1.jpg">
								</div>
							</div>
						</div>
						<div class="overflow-h">
							<h3>Thomas Cook Holidays</h3>
							<ul class="list-inline star-vote">
								<li><i class="color-green fa fa-star"></i></li>
								<li><i class="color-green fa fa-star"></i></li>
								<li><i class="color-green fa fa-star"></i></li>
								<li><i class="color-green fa fa-star"></i></li>
								<li><i class="color-green fa fa-star-half-o"></i></li>
							</ul>
						</div>
						<ul class="list-unstyled">
							<li><span class="color-green">Position:</span> Marketing /
								Advertising</li>
							<li><span class="color-green">Required:</span> 7 - years of
								experience</li>
						</ul>
						<a class="btn-u btn-u-sm" href="#">View More</a>
					</div>
				</div>
				<!-- End Easy Block -->

				<!-- Easy Block -->
				<div class="col-md-3 col-sm-6 md-margin-bottom-40">
					<div class="easy-block-v1">
						<div class="easy-block-v1-badge rgba-blue">Education</div>
						<div id="carousel-example-generic-3" class="carousel slide"
							data-ride="carousel">
							<ol class="carousel-indicators">
								<li class="rounded-x" data-target="#carousel-example-generic-3"
									data-slide-to="0"></li>
								<li class="rounded-x" data-target="#carousel-example-generic-3"
									data-slide-to="1"></li>
								<li class="rounded-x" data-target="#carousel-example-generic-3"
									data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner">
								<div class="item active">
									<img alt="" src="/assets/img/clinic_1.jpg">
								</div>
							</div>
						</div>
						<div class="overflow-h">
							<h3>University of Aberdeen</h3>
							<ul class="list-inline star-vote">
								<li><i class="color-green fa fa-star"></i></li>
								<li><i class="color-green fa fa-star"></i></li>
								<li><i class="color-green fa fa-star"></i></li>
								<li><i class="color-green fa fa-star-o"></i></li>
								<li><i class="color-green fa fa-star-o"></i></li>
							</ul>
						</div>
						<ul class="list-unstyled">
							<li><span class="color-green">Position:</span> Education /
								Training</li>
							<li><span class="color-green">Required:</span> 10 - years of
								experience</li>
						</ul>
						<a class="btn-u btn-u-sm" href="#">View More</a>
					</div>
				</div>
				<!-- End Easy Block -->

				<!-- Easy Block -->
				<div class="col-md-3 col-sm-6">
					<div class="easy-block-v1">
						<div class="easy-block-v1-badge rgba-purple">IT Management</div>
						<div id="carousel-example-generic-4" class="carousel slide"
							data-ride="carousel">
							<ol class="carousel-indicators">
								<li class="rounded-x" data-target="#carousel-example-generic-4"
									data-slide-to="0"></li>
								<li class="rounded-x active"
									data-target="#carousel-example-generic-4" data-slide-to="1"></li>
								<li class="rounded-x" data-target="#carousel-example-generic-4"
									data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner">
								<div class="item active">
									<img alt="" src="/assets/img/clinic_1.jpg">
								</div>
							</div>
						</div>
						<div class="overflow-h">
							<h3>IT Project Management</h3>
							<ul class="list-inline star-vote">
								<li><i class="color-green fa fa-star"></i></li>
								<li><i class="color-green fa fa-star"></i></li>
								<li><i class="color-green fa fa-star"></i></li>
								<li><i class="color-green fa fa-star"></i></li>
								<li><i class="color-green fa fa-star-o"></i></li>
							</ul>
						</div>
						<ul class="list-unstyled">
							<li><span class="color-green">Position:</span> Project /
								Program Management</li>
							<li><span class="color-green">Required:</span> 2 - years of
								experience</li>
						</ul>
						<a class="btn-u btn-u-sm" href="#">View More</a>
					</div>
				</div>
				<!-- End Easy Block -->
			</div>

		</div>