<!--=== Header ===-->
<div class="header">


	<!-- Topbar -->
	<div class="topbar">
		<div class="container">
			<!-- Topbar Navigation -->
			<ul class="loginbar pull-right">
				<li><i class="fa fa-globe"></i> <a><%= langs.msg("menu_languages") %></a>
					<ul class="lenguages">
						
<% 
	langs.each(function(lang){
		%> 
			<li <% if(langs.getCurrentLanguage().cid == lang.cid){ %> class="active" <% } %>>
			<a href="javascript:;" class="changeLanguage" data-id="<%= lang.cid %>"><%= lang.get("prefix") %></a></li>
		<%
	});
%>

					</ul></li>
				<li class="topbar-devider"></li>
				<li><a href="/account/clinic"><%= langs.msg("menu_clinic_account") %></a></li>
				<li class="topbar-devider"></li>
				<li><a href="/account/client"><%= langs.msg("menu_client_account") %></a></li>
			</ul>
			<!-- End Topbar Navigation -->
		</div>
	</div>
	<!-- End Topbar -->

	<!-- Navbar -->
	<div class="navbar navbar-default" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					<h2>Dentist Application</h2>
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav">
					<!-- Home -->
					<li class="active"><a href="/" class=""><%= langs.msg("menu_home") %></a></li>

					<!-- Pages -->
					<li class=""><a href="/clinics"><%= langs.msg("menu_clinics") %></a></li>
					<!-- Features -->
					<li class=""><a href="/contact">Contact</a></li>
				</ul>
		</div>
	</div>
	<!-- End Navbar -->
</div>
<!--=== End Header ===-->

